@import 'normalize.css';
@import url(https://fonts.googleapis.com/css?family=Biryani:200,900|Poiret+One);

/*============GENERAL============*/

body {
  font-family: 'Biryani', verdana, helvetica, arial, sans-serif;
  font-weight: 200;
  padding: 0;
  margin: 0;
  
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'Biryani', verdana, helvetica, arial, sans-serif;
  font-weight: 200;
  font-size: 1.4em;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', sans-serif;
  font-weight: 200;

}

h5 {
  font-family: 'Biryani', verdana, helvetica, arial, sans-serif;
  font-weight: 200;
  padding: 0;
  margin: 0;
  
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

/*============HEADER============*/
header {
  margin-bottom: 20px;
  padding: 5px 0 0 0;
  width: 100%;

  
}

#logo {
  text-align: center;
  margin: 0;
  line-height: 1.5em;
}

.sub-header {
  width: 25%;
  text-align: right;
  margin: .8em 1em 0 0;
  padding: 0 2.5%;
  font-family: 'Biryani', verdana, helvetica, arial, sans-serif;
  font-weight: 200;
  line-height: 1em;
  float: left;
  display: none;
  
}



/*============NAVIGATION============*/

nav {
  text-align: center;
  display: block;
  clear:left;


}

nav ul {
  list-style: none;
  display: inline;
  padding: 0;

  
}

nav ul li {
  display: inline;
}

nav ul li a {
  padding: 15px 2.5%;
}


/*============PROJECT LIST============*/

#margin-auto{
  margin: 0 auto;
  max-width: 1080px;
}

#projects {
  list-style: none;
  margin: 0;
  padding: 0 0 5% 0;
}

#projects li {
  display: block;
  width: 80%;
  margin: 0 10% 10%;
}

#projects li img {
  max-width: 100%;
  border-radius: 1.5%;
  box-shadow: 0 3px 2px .5px rgba(34, 34, 34, .2);
}

#projects li:nth-child(2n+1) {
  clear: left;
  float: left;
}

#projects p,
#projects p:hover {
  text-decoration: none;
}



/*============MEET============*/

#meet {
  width: 100%;
  margin: 0 auto;
}

#meet h3 {
  padding: 5% 0 0 5%;

}

#meet h4 {

}

#meet h4 {
  padding: 0 2% 0 5%;
  margin-top: 0;
}

#meet p {
  padding: 0 5% 5% 5%;
  margin: 0;
}

#meet p.justify {
  text-align: justify;
}

.profile-photo {
  margin: 20px 35px 20px 5%;
  max-width: 6.25em;
  padding: 0;
  border-radius: 100%;
  float: left;
}



/*============CONTACT FORM============*/
#contact {
  margin: 0;
}

#form {
  width: 300px;
  margin: 0 auto;
}

#form h3 {
  text-align: center;
  padding: 40px 0 20px 0;
  margin: 0;
  line-height: 1.8em;
}

input[type="text"] {
  width: 93.3333%;
  margin: 20px 0;
  display: block;
}

textarea {
  width: 93.3333%;
  margin: 20px 0;
  display: block;
}

input, textarea {
  border-radius: 5px;
  border: none;
  padding: 10px;
  outline: none;

}
button {
  width: 210px;
  margin: 0 15% 20px;
  border: 3px;
  border-radius: 3px;
  padding: 5px;
  outline: none;
}

/*============GO TO "TOP"============*/

#top {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  background-color: rgba(204, 204, 204, .5);
  border-radius: 10%;
}

#top img {
  position: absolute;
  max-width: 80%;
  padding: 7px 0 0 3px;
}

/*============SOCIAL MEDIA LINKS============*/

#connect {
  clear: left;
  margin: 0;
}

#connect h3 {
  padding: 5% 0 0 5%;
}

#h3-social-icon-wrap {
  
}

.constraint {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.social-icon {
  display: inline-block;
  max-width: 25%;
  margin: 20px 8%;
  width: 25px;
  height: 25px;
   
}

#facebook-logo{
  background-image: url("../images/facebook-logo.png");
}

#twitter-logo{
  background-image: url("../images/twitter-logo.png");
}

#linkedin-logo{
  background-image: url("../images/linkedin-logo.png");
}

#gmail-logo{
  background-image: url("../images/gmail-logo.png");
}

#facebook-logo:hover{
  background-image: url("../images/facebook-logo-hover.png");
}

#twitter-logo:hover{
  background-image: url("../images/twitter-logo-hover.png");
}

#linkedin-logo:hover{
  background-image: url("../images/linkedin-logo-hover.png");
}

#gmail-logo:hover{
  background-image: url("../images/gmail-logo-hover.png");
}

#facebook-logo,
#twitter-logo,
#linkedin-logo,
#gmail-logo {
  background-repeat: no-repeat;
  background-size: contain;
}



/*============FOOTER============*/

footer {
  text-align: center;
}

/*============COLORS============*/
body {
  background-color: #dfdfdf;
}

header {
  color: #474747;  
}

h4 {
  color: #222;
}

a {
  color: #474747;
  text-decoration: none;
}

a:hover {
  color: #777;
}

a:visited {
  
}

a:active {
  color: #777;
  text-decoration: underline;
}

.project-header {
  background-color: #dfdfdf;
  color: #474747;
}

#meet {
  background: #474747;
  color: #dfdfdf;
}

#connect,
#contact {
  background: #222;
  color:#ccc;
}

input, textarea {
  background-color: #dfdfdf;
  color: #474747;
}

footer {
  color:#434343;
  background: #222;
}

button {
  background-color: #222;
  color: #dfdfdf;
  border: solid 2px #dfdfdf;
}

button:hover {
  background-color: #dfdfdf;
  color: #222; }

