@import 'normalize.css';
@import url(https://fonts.googleapis.com/css?family=Biryani:200,900);

/*============GENERAL============*/

body {
  font-family: 'Biryani', verdana, helvetica, arial, sans-serif;
  font-weight: 200;
  padding: 0;
  margin: 0;
  
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'Biryani', verdana, helvetica, arial, sans-serif;
  font-weight: 200;
  font-size: 1.4em;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: 'Biryani', sans-serif;
  font-weight: 900;

}

h5 {
  font-family: 'Biryani', verdana, helvetica, arial, sans-serif;
  font-weight: 200;
  padding: 0;
  margin: 0;
  
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

section {
  margin-top: 30px;
  margin-left: 10px;
}

span+span {
    font-size: 14px;
    margin-top: -10px;
    padding-left: 100px;
    padding-right: 20px;
    right: 0;
    position: absolute;
}

/*============HEADER============*/
header {
  margin-bottom: 20px;
  padding: 5px 0 0 0;
  width: 100%;

  
}

#logo {
  text-align: center;
  margin: 0;
  line-height: 1.5em;
}



/*============NAVIGATION============*/

nav {
  text-align: center;
  display: block;
  clear:left;


}

nav ul {
  list-style: none;
  display: inline;
  padding: 0;

  
}

nav ul li {
  display: inline;
}

nav ul li a {
  padding: 15px 2.5%;
}


/*============PROJECT LIST============*/

#margin-auto{
  margin: 0 auto;
  max-width: 1080px;
}

#projects {
  list-style: none;
  margin: 0;
  padding: 0 0 5% 0;
}

#projects li {
  display: block;
  width: 60%;
  margin: 0 20% 10%;
}

#projects li:hover {
  background: linear-gradient(#818181, transparent, 90%),
              no-repeat;
}

#projects li img {
  max-width: 100%;
  border-radius: 1.5%;
  box-shadow: 0 3px 2px .5px rgba(34, 34, 34, .2);
  background-color: white;
}

#projects li:nth-child(odd) {
  clear: left;
  float: left;
}

#projects p,
#projects p:hover {
  text-decoration: none;
}

/*============RESUME SECTIONS============*/

.one-line {
  clear: both;
  box-sizing: border-box;
}

.column-6 {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;
  float: left;
  position: relative;
}

.column-9 {
  padding-bottom: 20px;
  margin-top: -17px;

}

.skills {
  margin: 0;
}

.date {
  padding-top: 12px;
}


/*============SIDE============*/

#side {
  display: inline-block;
}

#meet {
  width: 100%;
  margin: 0 auto;
}

#meet h3 {
  padding: 5% 0 0 5%;

}

#meet h4 {

}

#meet h4 {
  padding: 0 2% 0 5%;
  margin-top: 0;
}

#meet p.justify,
#contact p.justify {
  padding: 0% 5% 5% 5%;
  margin: 0;
  text-align: justify;
}

#contact p.justify {
  padding-top: 5%;
}

.profile-photo {
  margin: 20px 35px 20px 5%;
  max-width: 6.25em;
  padding: 0;
  border-radius: 100%;
  float: left;
}

/*============GO TO "TOP"============*/

#top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: rgba(204, 204, 204, .5);
  border-radius: 10%;
}

#top img {
  position: absolute;
  max-width: 80%;
  padding: 7px 0 0 3px;
}

/*============SOCIAL MEDIA LINKS============*/

#connect {
  clear: left;
  margin: 0;
}

#connect h3 {
  padding: 5% 0 0 5%;
}

#h3-social-icon-wrap {
  
}

.constraint {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.social-icon {
  display: inline-block;
  max-width: 25%;
  margin: 20px 8%;
  width: 25px;
  height: 25px;
   
}

#treehouse-logo{
  background-image: url("../images/social-media/treehouse-logo.png");
}

#twitter-logo{
  background-image: url("../images/social-media/twitter-logo.png");
}

#linkedin-logo{
  background-image: url("../images/social-media/linkedin-logo.png");
}

#github-logo{
  background-image: url("../images/social-media/github-logo.png");
}

#treehouse-logo:hover{
  background-image: url("../images/social-media/treehouse-logo-hover.png");
}

#twitter-logo:hover{
  background-image: url("../images/social-media/twitter-logo-hover.png");
}

#linkedin-logo:hover{
  background-image: url("../images/social-media/linkedin-logo-hover.png");
}

#github-logo:hover{
  background-image: url("../images/social-media/github-logo-hover.png");
}

#treehouse-logo,
#twitter-logo,
#linkedin-logo,
#github-logo {
  background-repeat: no-repeat;
  background-size: contain;
}



/*============FOOTER============*/

footer {
  text-align: center;
}

/*============COLORS============*/
body {
  background-color: #dfdfdf;
}

header {
  color: #474747;  
}

h4 {
  color: #222;
}

a {
  color: #0084b4;
  text-decoration: none;
}

a:hover, a:focus {
  color: #00aced;
}

a:visited {
  
}

a:active {
  color: #777;
  text-decoration: underline;
}

.project-header {
  background-color: #dfdfdf;
  color: #474747;
}

#meet {
  background-color: #474747;
  color: #dfdfdf;
}

.dev-lang {
  color: #ccc;
}

#bottom {
  background-color: #222;
}

#connect,
#contact {
  background: #222;
  color:#ccc;
}

input, textarea {
  background-color: #dfdfdf;
  color: #474747;
}

footer {
  color:#434343;
  background: #222;
}

button {
  background-color: #222;
  color: #dfdfdf;
  border: solid 2px #dfdfdf;
}

button:hover,
button:active {
  background-color: #dfdfdf;
  color: #222; }

