@media screen and (min-width: 500px) {

  header {
    background-color: #222;
    color: #ccc;
  }

  #logo {
    box-sizing: border-box;
    width: 45%;
    display: inline-block;
    padding-left: 10%;
    text-align: left;
  }

  nav {
    box-sizing: border-box;
    width: 45%;
    display: inline-block;
    text-align: right;
  }

  nav ul li a {
    color: #ccc;
    text-decoration: none;
  }

  nav ul li a:hover {
    color: #dfdfdf;
  }

  nav ul li a:active {
    color: #777;
    text-decoration: underline;
  }

  #margin-auto {
    margin: 0 auto;
  }

  #projects li {
    display: inline-block;
    margin: 0 2.5% 10%;
    width: 45%;
  }

@media screen and (min-width: 600px) {

  #margin-auto {
    margin: 0 auto;
    max-width: 600px;
  }
}

@media screen and (min-width: 660px) {
  #side {
    background-color: #474747;
  }

  #meet {
    display: inline-block;
    width: 45%;
  }

  #contact {
    background: #474747;
    color: #dfdfdf;
    display: inline-block;
    width: 50%
  }

  button {
    background-color: #474747;
  }
}

@media screen and (min-width: 980px) {
  html, 
  body {
    background-color: #222;
    margin: 0;
    height:100vh; /* This is needed to overcome a Chrome bug. */
    width:100vw;
  }

  header {
    display: fixed;
    margin-bottom: 0;
  }

  nav {
    display: none;
  }

  #logo {
    text-align: left;
    padding-left: 5%;
  }

  #main {
    display: inline-block;
    height: 100vh;
    width: 58%;
    overflow: auto;
    float: left;
    background-color: #dfdfdf
  }

  #margin-auto {
    margin-top: 20px;
  }

  #side {
    display: inline-block;
    
    width: 42%;
    overflow: auto;
  }

  #meet {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  h4 {
    color: #ccc;
  }

  #contact {
    display: block;
    width: 100%;
  }

  #form h3 {
    padding: 0 0 20px 0;
  }

  #side,
  #meet,
  #contact,
  button {
    background: #222;
    color:#ccc;
  }

  #bottom {
    display: fixed;
  }

  .constraint {
    padding-left: 12%;
    margin: 0;
  }
  .constraint a {
    margin: 0;
  }

  .social-icon {
    margin: 2.5% 8% 0;
  }

}
