@media screen and (min-width: 500px) {

  header {
    background-color: #222;
    color: #ccc;
  }

  #top {
    display: none;
  }

  #logo {
    box-sizing: border-box;
    width: 45%;
    display: inline-block;
    padding-left: 10%;
    text-align: left;
  }

  nav {
    box-sizing: border-box;
    width: 45%;
    display: inline-block;
    text-align: right;
  }

  nav ul li a {
    color: #ccc;
    text-decoration: none;
  }

  nav ul li a:hover {
    color: #dfdfdf;
  }

  nav ul li a:active {
    color: #777;
    text-decoration: underline;
  }

  #margin-auto {
    margin: 0 auto;
    max-width: 600px;
  }

  #projects li {
    display: inline-block;
    margin: 0 2.5% 10%;
    width: 45%;
  }

  #projects li:nth-child(2n+2) {
    clear: left;
    float: right;
  }
}  

@media screen and (min-width: 660px) {
  #side {
    background-color: #474747;
  }

  #meet {
    margin: auto 0;
    display: inline-block;
    width: 53%;
    float: left;
  }

  #meet p {
    padding: 0 5% 0 5%;
    width: 90%;
  }

  #contact {
    margin: auto 0;
    display: inline-block;
    width: 46%;
    background: #474747;
    color: #dfdfdf;
  }

  #form h3 {
    padding: 5% 0 5% 0;
  }

  button {
    background-color: #474747;
  }
}

@media screen and (min-width: 980px) {
  html, 
  body {
    background-color: #222;
    height: 100%;
    overflow: hidden;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 58%;
    margin-bottom: 0;
  }

  /*nav {
    display: none;
  }*/

  #logo {
    text-align: left;
    padding-left: 5%;
  }


  html::-webkit-scrollbar,
  body::-webkit-scrollbar,
  #main::-webkit-scrollbar,
  #side::-webkit-scrollbar { 
    display: none; 
    width: 0 !important;
    background:transparent;
  }
  #main {
    display: inline-block;
    width: 568px;
    min-width: 58%;
    max-width: 67%;
    overflow: auto;
    float: left;
    background-color: #dfdfdf;
    height: 100vh;
    padding: 2% 0;
    -ms-overflow-style: none;
    margin: 38px 0 43px;
  }

  #projects li {
    margin: -10% 2.5% 20%;
  }

  #projects li {
    margin: -10% 2.5% 20%;
  }

  #projects li:nth-child(1),
  #projects li:nth-child(2) {
    margin: 1% 2.5% 20%;
  }

  #side {
    display: inline-block;
    max-width: 33%;  
    min-width: 42%;
    overflow: auto;
    height: 100vh;
    -ms-overflow-style: none;
  }

  #meet {
    display: block;
    width: 80%;
    margin: 0 auto;
    float: none;
  }

  .profile-photo {
    margin: 20px 35px 20px 5%;
  }

  #meet p {
    padding: 0 5% 5% 5%;
  }

  h4 {
    color: #ccc;
  }

  #contact {
    display: block;
    width: 100%;
  }

  #form h3 {
    padding: 0 0 20px 0;
  }

  #side,
  #meet,
  #contact,
  button {
    background: #222;
    color:#ccc;
  }

  #bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 58%;
  }

  .constraint {
    margin: 0 auto;
  }
 
  .social-icon {
    margin: 2.5% 8% 0;
  }

  footer {
    display: none;
  }

}
