/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  #logo {
  width: 55%;
  text-align: left;
  margin: 0;
  padding-left: 2.5%;
  line-height: 1.5em;
  float: left;

  }  
/*============CHANGE WIDTH OF UL TO 320PX============*/

  .constraint {
    width: 320px;
    margin: 0 auto;
    padding: 0;
  }

/*============REMOVE BOTTOM-BORDER============*/
  #contact .constraint ul {
    border-bottom: dotted 1px #dfdfdf;
}


/*============CHANGE #CONTACT LIST ITEM TO 8% MARGIN============*/
  #contact .constraint ul li {
    display: inline-block;
    max-width: 25%;
    padding: 0;
    margin: 0 8%;
    
  }


}

/*============CENTER #PROJECTS LIST ITEM UP TO 768PX============*/

@media (max-width: 768px) {

  #projects li {
  width: 35%;
  display: inline-block;
  margin: 0;
  padding: 0 7.5% 2.5%;
}