body {
	font-family: 'Lato', sans-serif;
	background-color: white;
}

#wrap {
	width: 100%;
}

h1 {
	font-weight: 400;
	color: #ff4c4c;
}

h2 {
	font-weight: 300;
	color: #bcbcbc;
}

label {
	color: #444;
}

#progress-wrap {
	box-sizing: border-box;
	border: 1px solid #ccf0f0;
}