body {
	font-family: 'Lato', sans-serif;
	background-color: white;
	margin: 0;
}

#wrap {
	width: 90%;
	margin: 0 auto;
}

h1 {
	font-weight: 400;
	color: #ff4c4c;
}

h2 {
	font-weight: 300;
	color: #bcbcbc;
}

ul {
	list-style: none;
}

label {
	color: #444;
}

#red-button {
	background-color: #c92626;
	color: white;
	border-radius: 5px;
	width: 100%;
	border: none;
	box-shadow: 0 1.5px 0 1px #bf0000;
}

#progress-wrap {
	box-sizing: border-box;
	border: 1px solid #ccf0f0;
	border-radius: 2%;
}

#progress {
	background-color: #00b3b3;
	width: 50%;
	border-radius: 2%;
}

footer {
	color: #eee;
	text-align: center;
	border-bottom: 3px solid #bcbcbc;
}